<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment.html :: links"></div>
    <link rel="stylesheet" href="/css/profile-bar.css"/>
    <link rel="stylesheet" href="/css/profile-settings.css"/>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css"/>
    <link rel="stylesheet" href="/css/upload.css"/>
</head>

<body class="container">
    <div th:replace="fragment.html :: navbar"></div>

    <div class="d-flex">
        <div th:replace="fragment.html :: profile-bar"></div>

        <div class="alert alert-info alert-dismissible fade show mt-3 alert-custom" role="alert" th:if="${message}">
            <p th:text="${message}">flush message</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col-md-10 mt-md-5">

            <div class="col-md-12 mb-2">
                <div style="opacity: 0.7; font-size: 13px">설정/업로드</div>
                <span style="font-size: 17px; font-weight: bold">설정/업로드</span>
            </div>

            <div class="col">
                <div class="tab-content d-flex justify-content-start">
                    <div class="profile-body tab-pane active profile-content-body" id="profile" role="tabpanel">
                        <div class="align-items-center profile-content d-flex justify-content-center">
                            <form class="justify-content-start profile-content-input" action="#" method="post" novalidate
                                  th:action="@{'/profile/' + ${account.id} + '/upload'}" th:object="${videoForm}" enctype="multipart/form-data">
                                <div class="d-flex justify-content-center mb-md-2">
                                    <div class="mt-3">
                                        <input type="file" id="videoFile" class="fileUpload" name="file" accept="video/*,.mkv" multiple>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mb-md-2">
                                    <ul class="mt-3" id="video-title-list">

                                    </ul>
                                </div>

                                <div class="card-body form-group">
                                    <label for="nickname">강의 제목</label>
                                    <input type="text" class="form-control" id="nickname" required minlength="2" maxlength="20" th:field="*{title}">
                                    <small class="invalid-feedback">강의명을 입력해주세요</small>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">강의명 미입력</small>
                                </div>

                                <div>
                                    <label for="summernote">강의소개</label>
                                    <textarea id="summernote" type="textarea" required th:field="*{subscription}"> </textarea>
                                </div>

                                <div class="d-flex justify-content-center mb-md-2">
                                    <div class="mt-3">
                                        <input type="file" class="fileUpload" name="banner" accept="image/*">
                                    </div>
                                </div>

                                <div>
                                    <p>imaTest</p>
                                    <img th:src="${imgPath}" alt="default" src="#">
                                </div>

                                <div>
                                    <span> 태그 추가</span>
                                </div>

                                <button type="submit" class="btn btn-success mt-md-3 mb-md-3">저장하기</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--profile main data - body-->
            </div>
            <!--profile main data-->
        </div>
        <!--profile body-->
    </div>
    <!--page body-->

    <div th:replace="fragment.html :: footer"></div>

    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $("#summernote").summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
            placeholder: '강의에 대한 설명을 입력해주세요.',
            tabSize: 2,
            lang: "ko-KR",
            height: 220,
            minHeight: 220,
            maxHeight: 220,
            focus: true
        });
    </script>

    <script type="application/javascript">
        const fileList = document.getElementById('videoFile').files;
        for (const file in fileList) {
            let li = document.createElement('li');
            let ul = document.getElementById('video-title-list')
            li.appendChild(document.createTextNode(file.name));
            ul.appendChild(li);
        }
    </script>

    <div th:replace="fragment.html::form-validation"></div>
</body>

</html>