<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment.html :: links"></div>
    <link rel="stylesheet" href="/css/program.css"/>
</head>

<body class="container">
    <header th:replace="fragment.html :: navbar"></header>

    <main class="d-flex">
        <div class="accordion-list col-sm-2 mt-lg-5">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header">
                        <h2 class="m-0">
                            <a href="#">
                                <button class="btn btn-block text-left" type="button">
                                    모든 강의
                                </button>
                            </a>
                        </h2>
                    </div>

                    <div class="card-header" id="headingOne">
                        <h2 class="m-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                웹 개발
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <a href="#">
                            <div class="card-body div-bottom-line">
                                모든 강의
                            </div>
                        </a>
                        <a href="#">
                            <div class="card-body div-bottom-line">
                                Java
                            </div>
                        </a>
                        <a href="#">
                            <div class="card-body div-bottom-line">
                                Javascript
                            </div>
                        </a>
                        <a href="#">
                            <div class="card-body div-bottom-line">
                                Css HTML
                            </div>
                        </a>
                    </div>
                    <div class="card-header" id="headingTwo">
                        <h2 class="m-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                알고리즘
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                        <a href="#">
                            <div class="card-body div-bottom-line">
                                모든 강의
                            </div>
                        </a>
                        <a href="#">
                            <div class="card-body div-bottom-line">
                                GOF 디자인 패턴
                            </div>
                        </a>
                        <a href="#">
                            <div class="card-body">
                                알고리즘
                            </div>
                        </a>
                    </div>
                </div>
                <!--accordion List bar-->
            </div>
        </div>
        <!--accordion start-->

        <div class="col-sm-11 mt-lg-5 inner-container">
            <header class="">
                <div class="d-flex justify-content-end input-group">
                    <input type="text" class="form-control search_wrapper_input search-bar" placeholder="강의 검색하기"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <span class="input-group-append">
                    <button class="btn btn-success search_wrapper_btn search-button" type="button" id="button-addon2">검색</button>
                </span>
                </div>
                <hr class="void-line"/>
                <!--TODO 특정 경로에 있을 경우 그 경로를 보여주도록-->
                <div class="header-nav row d-flex justify-content-between">
                    <nav class="navbar navbar-expand-lg header-nav-navbar">
                        <div class="collapse navbar-collapse" >
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span>|</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span>|</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span>|</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="list-viewer d-flex align-content-center">
                        <div>
                            <button type="button" class="btn btn-outline-info list-viewer-icon">
                                <i class="fas fa-list-ul"></i>
                            </button>
                            <button type="button" class="btn btn-outline-info list-viewer-icon">
                                <i class="fas fa-th"></i>
                            </button>
                        </div>
                        <div class="btn-group list-selector">
                            <button type="button" class="btn btn-info dropdown-toggle list-selector-button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">정렬</button>
                            <div class="dropdown-menu" style="min-width: 6rem">
                                <a class="dropdown-item" href="#">추천순</a>
                                <a class="dropdown-item" href="#">인기순</a>
                                <a class="dropdown-item" href="#">평점순</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main>

            </main>
        </div>
    </main>




<div style="height: 1000px"></div>
<footer th:replace="fragment.html :: footer"></footer>

</body>

</html>