.upload-list{
    width: 750px;
    padding-left: 0;
}

.label-title{
    font-weight: 500;
    font-size: 1.25rem;
}

.progress-label{
    width: 25%;
}

#progressbar{
    width: 25%;
}
.input-tagify-lengh{
    max-width: 60%;
}