<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">

<div hidden="hidden" id="value" th:text="${description}"></div>
<div id="textValue"></div>

<script type="application/javascript">
    var value = document.getElementById('value').textContent;
    value = $.parseHTML(value);
    $('#textValue').append(value);
</script>

</body>
</html>